* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background: rgb(160,154,255);
    background: linear-gradient(90deg, rgba(160,154,255,1) 0%, rgba(93,153,255,1) 50%, rgba(0,0,0,1) 100%);
}

header {
    background: linear-gradient(164deg, rgba(0,0,0,1) 0%, rgba(16,45,160,1) 50%, rgba(23,64,226,1) 73%);
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    animation: slidebottom2 1.5s ease 0s 1 normal none;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    padding-left: 50px;
    margin-right: auto;
}

header .logo img {
    width: 160px;
}

header .nav-links {
    padding-right: 65vh;
    list-style: none;
    display: flex;
    gap: 20px;
}

header .nav-links li a {
    color: white;
    text-decoration: none;
}

.header-scrolled .logo img {
    width: 85px;
}

.header-scrolled {
    background: linear-gradient(164deg, rgba(0, 0, 0, 0.671) 0%, rgba(16,45,160,0.671) 50%, rgba(23,64,226,0.671) 73%);
    transition: all 0.2s ease;
}
.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

.nav-links li {
    transition: all 0.2s ease;
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.nav-links li:hover {
    transform: scale(1.3);
    cursor: pointer;
    transition: all 0.2s ease;
}

.dados-section {
    padding-top: 100px;
    text-align: center;
    color: black;
    margin-top: 10%;
    
}

.dados-section h2{
    color: white;
    margin-bottom: 25px;
}

.estatisticas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    
}

.estatistica-item {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    width: calc(50% - 40px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: left;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    
}

.estatistica-item img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.estatistica-content h3 {
    color: rgb(10, 113, 248);
    margin-bottom: 10px;
}

.estatistica-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

footer {
    background: #151515;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    padding-top: 4.5%;
}

@media (max-width: 768px) {
    .estatistica-item {
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

